.movie-card {
	max-width: 420px;
	display: flex;
	vertical-align: bottom;
	gap: 7px;
}

.movie-card img {
	width: 40%;
}

.movie-card-body {
	align-self: flex-end;
	color: #475569;
}

.movie-title {
	color: #1e293b;
	font-size: 20px;
	font-weight: bold;
	margin: 4px 0px;
}

.movie-date {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}
